{% extends 'vendor/vendor_base.html'%}

{%block title%}History{%endblock%}

{% block content %}
<div class="clearfix">
    <a href="{% url 'vendor' %}"><button type="button" class="backbtn">Go Back</button></a>
    <a href="{% url 'create_supermarket'%}"><button type="submit" class="createbtn">Create New Sale</button></a>
</div>
<br>
<div id="history" class="tabcontent">
    <br>
    <div class="message">
        <center>
            {% for message in messages %}
            <strong>
                <p>{{message}}</p>
            </strong>
            {% endfor %}
        </center>
    </div>

    <section id="product1" class="section-p1">
        <h2> Your Products</h2>

        <div class="pro-container">
            {% for supermarket in supermarket %}
            <a href="">
                <div class="pro">
                    <img id="pro_img" src="{{supermarket.imageURL}}" alt="product image">
                    <div class="des">
                        <a
                            href="{% url 'vendor_detail' supermarket.market_vendor.id %}"><span>{{supermarket.market_vendor|capfirst}}</span></a>
                        <h5>{{supermarket.item_name|capfirst}}</h5>
                        <h4>&#8358 {{supermarket.item_price|capfirst}}</h4>
                    </div>
                    <a href="{% url 'update_supermarket' supermarket.id%}"><button id="update">update</button></a>
                    <a href="{% url 'delete_supermarket' supermarket.id%}"><button id="delete">delete</button></a>
                </div>
            </a>
            {% empty%}
            <h1>Sorry, You have created any product yet!</h1>
            {% endfor %}
        </div>
</div>
</section>

</div>

{% endblock%}