<!DOCTYPE html>
<html lang="en">

<head>
    {% load static%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <title>Change Password | BlueMartin</title>

    <!-- Favicon (icon in the browser tab) -->
    <link rel="icon" type="image/png" href="{% static 'img/blue.png'%}">

</head>

<body>

    <!-- The Modal -->
    <div id="id01" class="modal">
        <form method="POST" class="modal-content animate" action="">
            {% csrf_token %}
            <div class="imgcontainer">
                <img src="{% static 'img/blue.png' %}" alt="Avatar" class="avatar">\

                <h1>CHANGE PASSWORD</h1>
            </div>
            Change Password
            <div class="password-fields">
                {{form.as_p}}
            </div>
            <input type="checkbox" onclick="changePassword()">Show Password

            <div class="container">
                <button type="submit">Change Password</button>
            </div>
        </form>
        <a href="{% url 'customer'%}">
            <button style="background-color: red;" type="submit">Cancel</button>
        </a>
    </div>
</body>
<script src="{%  static 'login.js' %}"></script>

</html>