<!DOCTYPE html>
<html lang="en">

<head>
    {% load static%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <title>Reset Password | BlueMartin</title>
    <!-- Favicon (icon in the browser tab) -->
    <link rel="icon" type="image/png" href="{% static 'img/blue.png'%}">

</head>

<body>

    <div id="id01" class="modal">
        <form method="POST" class="modal-content animate" action="">
            {% csrf_token %}
            <div class="imgcontainer">
                <img src="{% static 'img/blue.png' %}" alt="Avatar" class="avatar">\

                <h1>RESET PASSWORD</h1>
            </div>

            <br>
            <div class="danger">
                <center>
                    {% for message in messages %}
                    <strong>
                        <p>{{message}}</p>
                    </strong>
                    {% endfor %}
                </center>
            </div>

            <h3>Answer the Security Question Below to Reset Your Password</h3>
            <br>
            <!-- This block is for unauthenticated users initiating the reset -->
            <label for="id_username">Enter your username:</label>
            <input type="text" id="id_username" name="username" required>
            <br>
            <label for="id_answer2">What's Your Favourite Color?:</label>
            <input type="text" id="id_answer2" name="answer2" required>
            <br>


            <div class="container">
                <button type="submit">Reset Password</button>
            </div>
        </form>

        <a href="{% url 'login'%}">
            <button style="background-color: red;" type="submit">Cancel</button>
        </a>
    </div>

</body>

</html>