{% extends 'index.html'%}

{%block title%}{{service.service_vendor.business_name}} : {{service.profession|capfirst}}{%endblock%}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'get_food.css'%}">
  <title>Document</title>
</head>

<body>
  <!-- Slideshow container -->
  <div class="slideshow-container">
    <center>
      <!-- Full-width images with number and caption text -->
      {% if service.imageURL %}
      <div class="mySlides">
        <img src="{{service.imageURL}}" style="width:50%">
      </div>
      {%endif%}

      {% if service.image2URL %}
      <div class="mySlides">
        <img src="{{service.image2URL}}" style="width:50%">
      </div>
      {%endif%}

      {% if services.image3URL %}
      <div class="mySlides">
        <img src="{{service.image3URL}}" style="width:50%">
      </div>
      {%endif%}

      {% if service.image4URL %}
      <div class="mySlides">
        <img src="{{service.image4URL}}" style="width:50%">
      </div>
      {%endif%}

      {% if service.image5URL %}
      <div class="mySlides">
        <img src="{{service.image5URL}}" style="width:50%">
      </div>
      {%endif%}
    </center>


    <!-- Next and previous buttons -->
    {% if service.image2URL %}
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
    {%endif%}

  </div>
  <div class="text">{{service.profession|capfirst}}</div>
  <br>


  <br>
  <table>
    <tr>
      <th>Profession:</th>
      <td>{{service.profession|capfirst}}</td>
    </tr>
    <tr>
      <th>Location:</th>
      <td>{{service.location|capfirst}}</td>
    </tr>
    <tr>
      <th>Contact:</th>
      <td>{{service.phone_number_1|capfirst}} <br>{{service.phone_number_2|capfirst}}
      </td>
    </tr>
    <tr>
      <th>Haggle:</th>
      <td>{{service.haggle|capfirst}}</td>
    </tr>
    <tr>
      <th>Description:</th>
      <td>{{service.description}}</td>
    </tr>
    <tr>
      <th>Vendor:</th>
      <td>{{service.service_vendor.business_name}}</td>
    </tr>
  </table>
  <a href="https://wa.me/{{service.service_vendor.business_whatsapp_number}}"><input class="input" type="submit" value="Chat On WhatsApp"></a>

  <script src="{% static 'get_food.js'%}"></script>
</body>

</html>
{%endblock%}