{% extends 'base.html' %}
{% block title%}Blogs{%endblock%}
{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'blog2.css' %}">

<section id="product1" class="section-p1">
    <center>
        <h1 style="color: black;">Posted Blogs (Videos) </h1>
    </center>

    <div class="pro-container">
        {% for blog_video in blog_video %}
        <div>
            <video width="320" height="240" controls>
                <source src="{{blog_video.videoURL}}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div>
                <h4>{{blog_video.business_name|capfirst}}</h4>
            </div>
            <div>
                <a href="{% url 'get_blog_video' blog_video.id %}"><button id="blog-icon">
                    <h6>Click here for more details</h6>
                </button></a>
            </div>
        </div>
        {%endfor%}
    </div>

</section>
<hr style="border: ridge blue;"><br>


<section class="section-p1 section">
    <center>
        <h1 style="color: white;">Posted Blogs</h1>
    </center>

    <!-- <div class="pro-container"> -->

    {% for blog in blog %}
    <div id="top">
        <div class="timeline">
            <div class="contain right">
                <div class="content">
                    <img style="width: 40%;" src="{{blog.imageURL}}" alt="product image">
                    <div>
                        <h4>{{blog.business_name|capfirst}}</h4>
                        <a href="{% url 'get_blog' blog.id %}"><button id="blog-icon">
                                <h6>Click here for more details</h6>
                            </button></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- <a href="{% url 'get_blog' blog.id %}">
            <div class="pro">
                <img id="pro_img" src="{{blog.imageURL}}" alt="product image">
                <div class="des">
                    <span>{{blog.business_name|capfirst}}</span>
                </div>
                <a href="{% url 'get_blog' blog.id %}"><button  id="blog-icon">
                        <h6>Click here for more details</h6>
                    </button></a>
            </div>
        </a> -->
    {% endfor %}
    <!-- </div> -->


</section>

{% endblock %}