<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'customer.css'%}">
    <title>{%block title%}{%endblock%} | BlueMartin</title>
  
    <!-- Favicon (icon in the browser tab) -->
    <link rel="icon" type="image/png" href="{% static 'img/blue.png'%}">
</head>

<body>
    <div id="header">
        <h5 style="color: blue;">Welcome {{request.user|capfirst}}!</h5>
        <img style="width: 10%;" src="{% static 'img/blue.png'%}" alt="Logo" />
    </div>
    <hr class="hr">
    {% block content%}
    {%endblock%}
</body>

</html>