<!DOCTYPE html>
<html lang="en">

<head>
    {% load static%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'vendor_application.css' %}">
    <title>Upgrade To Premium Customer | BlueMartin</title>

    <!-- Favicon (icon in the browser tab) -->
    <link rel="icon" type="image/png" href="{% static 'img/blue.png'%}">

</head>

<body>
    <div id="header">

        <h3 style="color: blue;"><b>UPGRADE TO PREMIUM CUSTOMER</b></h3>
        <img style="width: 10%;" src="{% static 'img/blue.png'%}" alt="Logo" />
    </div>
    <hr class="hr">

    <a href="{% url 'home'%}"><input type="submit" value="HomePage"></a>
    <hr class="hr">
    <form action="" method="post">
        <div class="section-p1">
            <h2>Why Upgrade To Premium?</h2>
            <p><strong>
                    Upgrade to a premium plan to unlock additional features and benefits.
                </strong>
            </p>

            <h3><strong>All premium plans include the following benefits:</h3>
            <ul>
                <li>
                    Access to Post Blogs or Ads/Adverts
                </li>
                <li>
                    Enhanced visibility in category listings.
                </li>
                <li>
                    Priority customer support.
                </li>
                <li>
                    Priority access to new features and updates.
                </li>
            </ul>

            <h2>Premium Customer Plan</h2>
            <ul>
                <li>
                    Price:<br>
                    &#8358 1,500/month <br>
                    &#8358 15,000/year (save &#8358 3,000)
                </li>
                <li>
                    Access to Post Blogs or Ads/Adverts
                </li>
                <li>
                    Priority customer support.
                </li>
                <li>
                    Early access to new features
                </li>
            </ul>

            <br>
            <h3><strong>Upgrading is easy:</strong></h3>
            <p>
                Fill in the form below with the correct details or information. Then complete the payment process and
                start enjoying the benefits of your premium plan.
            </p>
        </div>
        <hr>
        <h3 style="color: blue;"><b>Premium Customer Plan form</b></h3>
        {% csrf_token%}
        {{form.as_p}}

        <p>Please note that you are not paying anything online. The account details for payment will be sent to you
            either as SMS or to your Email or on WhatsApp.<br>Thank You!!!</p>


        <input type="submit" value="Submit">
    </form>

</body>

</html>