#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 10px;
}   

input{
    background-color: green;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.85;
    text-align: center;
  }


  #index {
    background-color: blue;
    color: white;
    margin-top: 2px;
    padding: 10px 0px;
    border: none;
    color: white;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 13px;
}

#index:hover {
    background-color: white;
    color: blue;
}